<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.user.UserMapper">
  <resultMap id="BaseResultMap" type="com.mall.entity.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>

  <delete id="deleteUser">
      delete from competition
      where   id IN
      <if test="ids!=null">
          <foreach collection="ids" item="id" open="(" separator="," close=")">
              #{id}
          </foreach>
      </if>
  </delete>

    <select id="selectUserByMap" resultMap="BaseResultMap">
        select * from user where
        id = #{id.id} and username = #{username.username}
    </select>

</mapper>